/* product card */
.card-container{
	display: grid;
	justify-content: center;
	align-content: center;
	min-width: 800px;
  min-height: 400px;
}
.card{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
	min-width: 600px;
  min-height: 400px;

	border-radius: 1rem;
  background-color: white;

}

/* card image */
.product-image{
	background-image: url('images/image-product-desktop.jpg');
	background-size: cover;
	justify-content: center;
	overflow: clip;
	max-height: 100%;

	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;

}




/* card text */
.product-text{
	display: grid;
	padding: 2rem;
	font-family: Outfit, sans-serif;
	grid-template: 
	"type type"
	"title title"
  "body body" 
  "a b"
	"button button";
	align-items: center;
  justify-content: center;
	
}

.product-type{
	grid-area: type;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 500;
  font-size: .8rem;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%); 
	margin-bottom: 1rem;
}
.product-title{
	grid-area: title;
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 700;
}
.product-description{
	grid-area: body;
  font-family: 'Montserrat', sans-serif; 
  font-size: .9rem;
	line-height: 1.5;
	padding: 1rem 0 1rem 0;
  font-weight: 500;
  color: hsl(228, 12%, 48%); 
}
.prices{
	justify-content: center;
	align-content: center;
}
.price-new{
	grid-area: a;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
}
.price-old{
	grid-area: b;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 500;
	font-size: 1rem;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%); 
	float: left;
}
.cart-button{
	grid-area: button;
	text-align: center;

	padding: 1rem 3rem 1rem 3rem;

  border-radius: 1rem;
	margin-top: 1rem;
}
.cart-button img{
	padding-right: 10px;
}
.card a{
  font-family: 'Montserrat', sans-serif; 
  font-size: 1rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  background-color: hsl(158, 36%, 37%);
	align-content: center;
	justify-content: center;
}
.card a:hover{
  background-color: hsl(160, 35%, 20%);;
}

/* mobile */
@media (max-width: 800px){
	.card-container{
		display: grid;
		justify-content: center;
		align-content: center;
		min-width: 250px;
	  min-height: 500px;
	}
	.card{
		grid-template-columns: 200px;
		grid-template-rows: 100px 250px;
		min-width: 250px;
    min-height: 400px;
	}
	.product-image{
		background-image: url('images/image-product-mobile.jpg');
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		border-bottom-left-radius: 0rem;
		min-width: 250px;
		min-height: 100px;
	}
	.product-text{
		min-width: 250px;
		min-height: 300px;
		padding: 1rem;
	}

	
	.product-type{
		font-size: .6rem;
		margin-top: .25rem;
		margin-bottom: .25rem;
	}
	.product-title{
		font-size: 1.2rem;
		margin-top: .25rem;
		margin-bottom: .25rem;
	}
	.product-description{
		font-size: .8rem;
		margin-top: .25rem;
		margin-bottom: .25rem;
		padding: 0 0 0 0;
	}
	.prices{
		font-size: 1rem;
		margin-top: .25rem;
		margin-bottom: .25rem;
	}
	.button{
		font-size: 1rem;
		margin-top: .25rem;
		margin-bottom: .25rem;
	}
}