/* product card */
.card-container{
	display: grid;
	justify-content: center;
	align-content: center;
	min-width: 800px;
  min-height: 400px;
}
.card{
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-width: 40%;
  min-height: 20%;

	border-radius: 2rem;
  background-color: white;
}
.product-image{
	background-size: cover;
	justify-content: center;
	overflow: clip;
	max-height: 100%;

	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

}
#picture{
	background-image: url('images/image-product-desktop.jpg"');
}
.product-text{
	padding: 1rem;
	font-family: Outfit, sans-serif;
}